<div class="uk-modal-dialog">
	<a class="uk-modal-close uk-close uk-close-alt"></a>
	<form class="uk-form uk-form-stacked">
		<fieldset>
			<legend>Add Pyramid</legend>

			<div class="uk-form-row">
				<span class="uk-form-label" for="">Position</span>
				<div class="uk-form-controls uk-form-controls-text">
					<p class="uk-form-controls-condensed">
						<label>X</label> <input v-model="x" class="uk-form-width-small uk-form-small" type="number">
						<label>Y</label> <input v-model="y" class="uk-form-width-small uk-form-small" type="number">
						<label>Z</label> <input v-model="z" class="uk-form-width-small uk-form-small" type="number">
					</p>
				</div>
			</div>

			<div class="uk-form-row">
				<span class="uk-form-label" for="">Size</span>
				<div class="uk-form-controls uk-form-controls-text">
					<p class="uk-form-controls-condensed">
						<label>X</label> <input v-model="dx" class="uk-form-width-small uk-form-small" type="number">
						<label>Y</label> <input v-model="dy" class="uk-form-width-small uk-form-small" type="number">
						<label>Z</label> <input v-model="dz" class="uk-form-width-small uk-form-small" type="number">
					</p>
				</div>
			</div>

			<div class="uk-form-row">
				<a v-on="click: add" class="uk-modal-close uk-button uk-button-primary uk-width-1-1">Add</a>
			</div>

		</fieldset>
	</form>
</div>
