<div title="{{model.type}}" data-uk-tooltip class="item folder {{model.type}} uk-clearfix">
	<div class="uk-float-right">
		<i v-show="model.keyframe !== undefined"  v-on="click: model.keyframe = !model.keyframe"   class="uk-icon-circle uk-text-{{model.keyframe ? 'danger' : 'success'}}"></i>
		<i v-show="model.visiblity !== undefined" v-on="click: model.visiblity = !model.visiblity" class="uk-icon-{{model.visiblity ? 'circle' : 'circle-thin'}}"></i>
		&nbsp;
	</div>
	<a class="uk-button uk-button-link uk-button-mini uk-float-left">
		<i v-on="click: open = !open" v-if="model.children" class="uk-icon-caret-{{open ? 'down' : 'right'}}"></i>
		<span v-on="click: select(model.type, model.name)">{{model.type}}: {{model.name}}</span>
	</a>
</div>
<ul v-if="open">
	<li v-repeat="model: model.children" v-component="{{model.type}}">
	</li>
</ul>
