#tree ul {
	padding-left: 1em;
	list-style-type: none;
}

#tree .uk-button-link {
	color: black;
}

#tree .item:hover {
	outline: 1px solid red;
}


#tree .item.folder {
	padding: 0;
	margin: 0;
}

#tree .bone {
	background: #99ccff;
}

#tree .skin,
#tree .skins,
#tree .skin_placeholder {
	background: #ffcc99;
}

#tree .region,
#tree .image,
#tree .images {
	background: #ccff99;
}

#tree .event,
#tree .events {
	background: #cc99ff;
}
