#tree {
	ul {
		padding-left: 1em;
		list-style-type: none;
	}

	.uk-button-link {
		color: black;
	}

	.item:hover {
		outline: 1px solid red;
	}

	.item.folder {
		padding: 0;
		margin: 0;
	}

	.bone {
		background: #99ccff;
	}

	.skin,
	.skins,
	.skin_placeholder {
		background: #ffcc99;
	}

	.region,
	.image,
	.images {
		background: #ccff99;
	}

	.event,
	.events {
		background: #cc99ff;
	}
}
