<div title="{{model.type}}" data-uk-tooltip class="item file {{model.type}} uk-clearfix">
	<div class="uk-float-right">
		<i class="uk-icon-circle uk-text-{{model.keyframe ? 'danger' : 'success'}}"
			v-show="model.keyframe !== undefined"
			v-on="click: model.keyframe = !model.keyframe"></i>
		<i class="uk-icon-{{model.visibility ? 'circle' : 'circle-thin'}}"
			v-show="model.visibility !== undefined"
			v-on="click: model.visibility = !model.visibility" ></i>
		&nbsp;
	</div>
	<div class="uk-float-left">
		&nbsp;
		<i v-if="model.type === 'image'" class="uk-icon-image"></i>
		<i v-if="model.type === 'region'" class="uk-icon-image"></i>
		{{model.type}}
		{{model.name}}
	</div>
</div>
