<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>/{{ current }}/ {{ .title }}</title>
<link rel="stylesheet" href="/css/uikit.min.css">
<link rel="stylesheet" href="/css/addons/uikit.addons.min.css">
</head>
<body>
{{ yield }}
<script src="/js/jquery-2.1.1.min.js"></script>
<script src="/js/uikit.min.js"></script>
<script src="/js/addons/notify.min.js"></script>
</body>
