<form id="form" method="POST" action="/login">
Lgn: <input tabindex="1" id="login" type="text" name="login" size="10">
Pwd: <input tabindex="2" id="password" type="password" name="password" size="10">
<input type="submit" value="sign in">
</form>
