<!DOCTYPE html>
<html class="uk-height-1-1 uk-margin-remove" lang="en">
<head>
<meta charset="utf-8" />
<title>{{.title}}</title>
<link rel="stylesheet" href="/css/uikit.min.css">
<link rel="stylesheet" href="/css/addons/uikit.addons.min.css">
<style>
html, body {
	padding: 0;
	margin: 0;
	overflow: hidden;
}
</style>
</head>
<body class="uk-height-1-1 uk-margin-remove">

<!-- CANVAS -->
<div id="canvas" style="position: absolute;" class="uk-width-1-1 uk-height-1-1"></div>


<script src="/js/jquery-2.1.1.min.js"></script>
<script src="/js/uikit.min.js"></script>
<script src="/js/addons/notify.min.js"></script>
<script src="/js/vue.js"></script>
<script src="/pixi.js"></script>
<script src="/tile-redactor.js"></script>
</body>
</html>
