#animations {
	#svg {
		cursor: default;
		background: #555;
		text {
			font-size: 75%;
			cursor: default;
		}
		path {
			stroke-width: 1;
			stroke: #0f0;
			stroke-linecap: round;
			fill: none;
		}
		circle {
			stroke-width: 2;
			stroke: white;
			fill: none;
		}
		circle:hover {
			fill: #c00;
			//cursor: move;
		}
		line {
			stroke-width: 0.5;
			stroke: white;
			stroke-linecap: round;
			stroke-dasharray: 5,3;
		}
	}

	hr {
		margin: 2px 0 4px;
	}

	.bone {
		font-weight: bold;
	}

	#anim-list {
		height: 200px;
		.native {
			height: 200px;
		}
	}

	#graph-canvas {
		width: 350px;
		height: 150px;
	}

	.key {
		height:1em;
		width:3px;
		margin-left: 2px;
		border:1px solid black;
		display: inline-block;
		position: absolute;
	}

	.key.linear {
		-webkit-box-shadow: 0px 0px 10px 0px rgba(255, 255, 255, 0.9);
		-moz-box-shadow:    0px 0px 10px 0px rgba(255, 255, 255, 0.9);
		box-shadow:         0px 0px 10px 0px rgba(255, 255, 255, 0.9);
	}
	.key.stepped {
		-webkit-box-shadow: 0px 0px 10px 0px rgba(255, 50, 50, 0.9);
		-moz-box-shadow:    0px 0px 10px 0px rgba(255, 50, 50, 0.9);
		box-shadow:         0px 0px 10px 0px rgba(255, 50, 50, 0.9);
	}
	.key.bezier {
		-webkit-box-shadow: 0px 0px 10px 0px rgba(50, 255, 255, 0.9);
		-moz-box-shadow:    0px 0px 10px 0px rgba(50, 255, 255, 0.9);
		box-shadow:         0px 0px 10px 0px rgba(50, 255, 255, 0.9);
	}

	.key.all {
		background: white;
	}

	.color i {
		color: pink;
	}
	.key.color {
		background: pink;
	}

	.translate i {
		color: blue;
	}
	.key.translate {
		background: blue;
	}
	.attachment i {
		color: yellow;
	}
	.key.attachment {
		background: yellow;
	}
	.scale i {
		color: red;
	}
	.key.scale {
		background: red;
	}
	.rotate i {
		color: green;
	}
	.key.rotate {
		background: green;
	}
	.event i {
		color: purple;
	}
	.key.event {
		background: purple;
	}
}
