<div class="uk-grid">
	<div class="uk-width-1-6">
		Tools
		<div data-uk-button-radio>
			<button class="uk-button uk-width-1-1" type="button">Pose</button>
			<button class="uk-button uk-width-1-1" type="button">Create</button>
		</div>
	</div>
	<div class="uk-width-2-6 uk-form">
		Transform

		<div class="uk-clearfix">
			<div class="uk-form-icon uk-float-left" style="width:82%">
				<i class="uk-icon-rotate-right uk-text-success"></i>
				<input v-model="angle" title="Angle" data-uk-tooltip type="number" class="uk-width-1-1" value="10.7">
			</div>
			<button class="uk-button uk-float-left" type="button" style="width:18%">
				<i class="uk-icon-key"></i>
			</button>
		</div>

		<div class="uk-clearfix">
			<div class="uk-form-icon uk-float-left" style="width:41%">
				<i class="uk-icon-arrows uk-text-primary"></i>
				<input v-model="translateX" title="X" data-uk-tooltip type="number" class="uk-width-1-1" value="10.7">
			</div>
			<input v-model="translateY" class="uk-float-left" title="Y" data-uk-tooltip type="number" style="width:41%; display:block" value="-434.8">
			<button class="uk-button uk-float-left" type="button" style="width:18%">
				<i class="uk-icon-key"></i>
			</button>
		</div>

		<div class="uk-clearfix">
			<div class="uk-form-icon uk-float-left" style="width:41%">
				<i class="uk-icon-crop uk-text-danger"></i>
				<input v-model="scaleX" title="X" data-uk-tooltip type="number" class="uk-width-1-1" value="10.7">
			</div>
			<input v-model="scaleY" class="uk-float-left" title="Y" data-uk-tooltip type="number" style="width:41%; display:block" value="-434.8">
			<button class="uk-button uk-float-left" type="button" style="width:18%">
				<i class="uk-icon-key"></i>
			</button>
		</div>
	</div>
	<div class="uk-width-1-6">
		Axis
		<div data-uk-button-radio>
			<button class="uk-button uk-width-1-1" type="button">Local</button>
			<button class="uk-button uk-width-1-1" type="button">Parent</button>
			<button class="uk-button uk-width-1-1" type="button">Global</button>
		</div>
	</div>
	<div class="uk-width-1-6">
		Compensate
		<button class="uk-button uk-width-1-1" type="button" data-uk-button>Bones</button>
		<button class="uk-button uk-width-1-1" type="button" data-uk-button>Images</button>
	</div>
	<div class="uk-width-1-6">
		Options
		<table class="uk-text-small">
			<thead>
				<tr>
					<th></th>
					<th><i class="uk-icon-edit"></i></th>
					<th><i class="uk-icon-eye"></i></th>
					<th><i class="uk-icon-tag"></i></th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>Bones</td>
					<td><i class="uk-icon-circle"></i></td>
					<td><i class="uk-icon-circle"></i></td>
					<td><i class="uk-icon-circle-thin"></i></td>
				</tr>
				<tr>
					<td>Images</td>
					<td><i class="uk-icon-circle"></i></td>
					<td><i class="uk-icon-circle"></i></td>
					<td><i class="uk-icon-circle-thin"></i></td>
				</tr>
				<tr>
					<td>Bounds</td>
					<td><i class="uk-icon-circle"></i></td>
					<td><i class="uk-icon-circle"></i></td>
					<td><i class="uk-icon-circle-thin"></i></td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
